.board {
    @apply flex flex-row items-start;
  }
  

  .board-wrapper {
    @apply p-4 h-full overflow-auto;
    background-color: rgba(9, 9, 9, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  .column {
    @apply flex-1 p-4 mr-4 rounded bg-purple-500; 
    min-width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .column-header {
    @apply flex items-center justify-between mb-3 font-bold;
  }
  
  .task-bg {
    @apply fixed top-0 right-0 bottom-0 left-0 bg-indigo-900 bg-opacity-80; 
  }
  

  .task-view {
    @apply flex flex-col flex-grow items-center justify-center px-8; 
  }
  

  .task-wrapper {
    @apply max-w-screen-md bg-white mx-auto p-8 rounded-lg shadow-lg;
  }